{% extends 'productos/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Crear Cliente{% endblock %}
{% block header %}Crear Cliente{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
